*.iml
*.iws
*.ipr
target
.idea

/maven/maven-confluence-export-plugin/.classpath
/maven/maven-confluence-export-plugin/.project
/maven/maven-confluence-export-plugin/.settings/org.eclipse.jdt.core.prefs